  <%# Banner %>
<div class="position-relative">
  <div class="card-category card-large"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url(<%= asset_path('banner.jpeg')%>)">
    <h1> My library </h1>
  </div>
  <span class="book-banner-tag"><%= pluralize(@books.count, "book") %></span>
</div>


<%# Cards %>
<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @books.empty? %></em></small></span>
    <div>
      <%= link_to "add a book", new_book_path, class: "btn btn-flat" %>
    </div>
  </div>

  <hr class="my-5">

  <div class="row my-2">
    <% @books.each do |book| %>
      <div class="col-12 col-sm-2 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <% if book.photo.key %>
            <%= cl_image_tag(book.photo.key, class: "book-img rounded-top") %>
          <% else %>
            <img src="<%= asset_path('logo.jpg') %>" alt="<%= book.title%>" class="book-img rounded-top">
          <% end %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= book.title %> </strong>
            <small class="text-muted"><%= book.author %></small>
            <small class="text-muted"><%= book.year %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <span class="text-muted font-weight-normal">
                  <% book.rating.times do %>
                    <i class="fas fa-star star-yellow"></i>
                  <% end %>
                </span>
              </div>
              <small class="text-right flex-shrink-0"><%= link_to "delete", book_path(book), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{book.title} from your library?"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
