<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a new book</h3>
        <%= simple_form_for @book do |f| %>

          <%= f.input :title, placeholder: 'The Da vinci Code' %>
          <%= f.input :author, placeholder: 'Dan Brown' %>
          <%= f.input :year, placeholder: '2023' %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
          <%= f.input :photo, as: :file %>

          <%= f.submit class: 'btn btn-flat' %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<h1>erros de validacao:</h1>
<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
